<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageProcessor.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ImageProcessor.Admin.Properties.Settings>
            <setting name="WebSiteUrl" serializeAs="String">
                <value>http://localhost:53344/</value>
            </setting>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>UseDevelopmentStorage=true</value>
            </setting>
            <setting name="AzureMarketplaceAccountKey" serializeAs="String">
                <value />
            </setting>
        </ImageProcessor.Admin.Properties.Settings>
    </applicationSettings>
</configuration>